<p>footer works!</p>
<div>EI Matthieu DANDEC - 57 rue des pelourdes, 33300 Bordeaux <br>
    Entreprise individuelle immatriculée le 26 juin 2024 au R.C.S Bordeaux, SIREN : 930 176 607, SIRET : 93017660700016 <br>
    Assurance responsabilité civile professionnelle, exploitation, employeur et protection juridique n°WPR007224 (Wemind) <br>
    Hebergement: OVH SAS est une filiale de la société OVH Groupe SA, société immatriculée au RCS de Lille sous le numéro 537 407 926 sise 2, rue Kellermann, 59100 Roubaix.<br>
    </div>