.margin-top-2 {
    margin-top: 2%;
}

.margin-bottom-2 {
    margin-bottom: 2%;
}

/* .mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
  background: #0070c040 !important;
} */

.mat-expansion-panel {
    background-color: #f7f6f3 !important
}

