<div style="background-color: #f7f6f3;">
    <div class="section" style="font-size: small;">
        
        <div class="margin-top-2 margin-bottom-2">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header style="font-size: small;">Politique en matiére de
                        cookie</mat-expansion-panel-header>
                    <div style="font-size: small;">
                        Chez AMAGA CYBER, nous mettons un point d'honneur à respecter votre vie privée. C'est pourquoi
                        notre site
                        fonctionne sans utiliser de cookies ni collecter aucune donnée personnelle. Votre navigation est
                        entièrement
                        anonyme, vous permettant ainsi de profiter pleinement de nos contenus en toute tranquillité.
                        Nous croyons
                        fermement que votre expérience en ligne ne doit pas compromettre votre confidentialité. Naviguez
                        en toute
                        sérénité sur amaga-cyber.fr, où votre vie privée est notre priorité absolue.</div>
                </mat-expansion-panel>




                <mat-expansion-panel> <!-- composant à faire -->
                    <mat-expansion-panel-header style="font-size: small;">Politique de
                        Confidentialité</mat-expansion-panel-header>
                    <div style="font-size: small;">
                        Chez AMAGA CYBER, nous accordons une grande importance à la protection de votre vie privée. Nous
                        nous
                        engageons à ne collecter aucune donnée personnelle lors de votre visite sur notre site. Nous
                        n'utilisons pas de
                        cookies, ni d'autres technologies de suivi pour recueillir des informations sur nos
                        utilisateurs.

                        <p>**Aucune collecte de données personnelles**</p>
                        Nous garantissons que nous ne collectons, ne stockons, ni ne partageons aucune information
                        personnelle vous
                        concernant.

                        <p>**Cookies**</p>
                        Notre site n'utilise pas de cookies. Cela signifie que nous ne suivons pas vos activités sur
                        notre
                        site ni sur
                        d'autres sites web.

                        <p>**Sécurité**</p>
                        Bien que nous ne collectons aucune donnée, nous mettons en œuvre des mesures de sécurité
                        robustes
                        pour protéger
                        notre site contre toute tentative d'accès non autorisé ou d'attaque.

                        <p>**Modifications de la politique de confidentialité**</p>
                        Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute
                        modification
                        sera affichée sur cette page. Nous vous encourageons à consulter régulièrement cette politique
                        pour
                        rester
                        informé de notre engagement envers votre confidentialité.
                        <p>
                            Pour toute question ou préoccupation concernant notre politique de confidentialité, veuillez
                            nous contacter à
                            mdandec{{"&#64;"}}pm.me.
                        </p>
                        <p>Date de la dernière mise à jour : 24/07/2024</p>
                    </div>


                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div>EI Matthieu DANDEC - 57 rue des pelourdes, 33300 Bordeaux <br>
            Entreprise individuelle immatriculée le 26 juin 2024 au R.C.S Bordeaux, SIREN : 930 176 607, SIRET :
            93017660700016 <br>
            Assurance responsabilité civile professionnelle, exploitation, employeur et protection juridique n°WPR007224
            (Wemind) <br>
            Hebergement: OVH SAS est une filiale de la société OVH Groupe SA, société immatriculée au RCS de Lille sous
            le
            numéro 537 407 926 sise 2, rue Kellermann, 59100 Roubaix.<br>
        </div>

    </div>
</div>