<div class="section" style="font-size:1.7em; ">
    <div>
        <h2>AVANT-PROPOS</h2>


    <p> Depuis maintenant plusieurs années, la cyber-menace est désormais perçue comme un risque dominant par les
        entreprises françaises.</p>
    <p> Cette prise de conscience est un point positif. Il est cependant à nuancer par rapport à la progression du
        nombre
        d’entreprises ayant signalé des attaques,
        tout comme la gravité des attaques elles-mêmes. Les cybercriminels se sont organisés, professionnalisés, ont
        marketé
        leurs outils.</p>
    <p>Les attaques sont devenues opportunistes.</p>
    <p>Vous faites peut être partie des entreprises dont le chiffre d'affaires est compris entre 90 000€ et 450 000€ qui
        peuvent désormais s'attendre à autant de cyberattaques que les grosses structures. A noter que la RC Pro ne
        couvre
        généralement pas la perte d’exploitation liée à un sinistre cyber.
        Chaque entreprise se doit de répondre à ces problématiques et enjeux, et agir pour anticiper et travailler sur
        l’occurrence de ces risques : anticipation et scénarisation sont les maitres mots pour détecter et réagir de
        façon
        adéquate.</p>
    <p>Par le biais de méthodologies cyber, intégrées dans une approche risque et de sécurité en profondeur, vous pouvez
        acquérir une meilleure maitrise de vos actifs, de vos processus, de votre cartographie du SI et de vos coûts.
    </p>

    </div>
    <div>
        <p>Lignes</p>
    </div>
    
</div>

<div class="container" style="font-size: large;">
    <div>
        <h2 class="text-center">CYBER-MENACES : TENDANCES</h2>
        <div class="text-right" style="font-size: small;">Source rapport Hiscox 2022</div>
    </div>
    
    <div class="three-column-layout">
        <mat-card>
            <mat-card-header class="title">
                <mat-card-title>1 ENTREPRISE SUR 2</mat-card-title>
                
            </mat-card-header>
            <mat-card-content>
               
                INTENSIFICATION DES ATTAQUES: 48% DES ENTREPRISES ONT SIGNALÉ UNE ATTAQUE EN 2022,
                CONTRE 43% EN 2021
            </mat-card-content>

        </mat-card>
        <mat-card>
            <mat-card-header class="title">
                <mat-card-title>1/5</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                PARMI LES ENTREPRISES AYANT SUBI UNE ATTAQUE, UNE SUR CINQ A DÉCLARÉ QUE SA SOLVABILITÉ AVAIT ÉTÉ MENACÉE, 
                SOIT UNE AUGMENTATION DE 24% PAR RAPPORT À L’AN DERNIER
            </mat-card-content>

        </mat-card>
        <mat-card>
            <mat-card-header class="title">
                <mat-card-title>2,5</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                UNE ATTAQUE SUR UNE ENTREPRISE ‘CYBER-NOVICE’ EST 2,5 FOIS PLUS COUTEUSE QU’UNE ENTREPRISE ACCOMPAGNÉE ET PRÉPARÉE:
                INVESTIR DANS L’EXPERTISE S’AVERE PAYANTE
            </mat-card-content>

        </mat-card>
    </div>
</div>

<div class="container two-column-layout" style="font-size: large;">
    <div>Lignes</div>
    <div >
        <h2 class="text-center">LA CYBERSÉCURITÉ, UNE APPROCHE HOLISTIQUE QUI :</h2>
        <ul class="liste">
            <li style="display: flex; flex-direction: row; align-items: center; justify-content: left;"><mat-icon>check</mat-icon>DOIT S’INTÉGRER AUX BESOINS MÉTIERS</li>
            <li style="display: flex; flex-direction: row; align-items: center; justify-content: left;"><mat-icon>check</mat-icon>DOIT ÊTRE ÉCONOMIQUEMENT JUSTIFIÉE</li>
            <li style="display: flex; flex-direction: row; align-items: center; justify-content: left;"><mat-icon>check</mat-icon>DOIT REPOSER SUR DES CONCEPTS IDENTIFIÉS ET ÉPROUVÉS</li>
        </ul>
    </div>
</div>

<div class="container two-column-layout" style="font-size: large;">
    
    <div >
        <h2 class="text-center">VOUS ÊTES-VOUS DÉJÀ POSÉ CES QUESTIONS ?</h2>
        <ul class="liste">
            <li style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                <mat-icon>check_box_outline_blank</mat-icon>
                AI-JE UNE PARFAITE CONNAISSANCE ET MAITRISE DE MES ACTIFS ?
            </li>
            <li style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                <mat-icon>check_box_outline_blank</mat-icon>
                SUIS-JE EN MESURE DE DÉTECTER UNE ATTAQUE ?
            </li>
            <li style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                <mat-icon>check_box_outline_blank</mat-icon>
                SUIS-JE EN MESURE DE RECONSTRUIRE MON INFRASTRUCTURE, EN COMBIEN DE TEMPS ?
            </li>
                <li style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                    <mat-icon>check_box_outline_blank</mat-icon>
                    SUIS-JE EN CAPACITE DE MONTER UNE CELLULE DE CRISE EN INTERNE ?
                </li>
        </ul>
    </div>
    <div>Lignes</div>
</div>