
.margin-top-2 {
  margin-top: 2%;
}
.three-column-layout {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2%;
    // grid-auto-rows: minmax(100px, auto);
}

.two-column-layout-left {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 3fr 1fr;
    grid-gap: 2%;
    grid-auto-rows: minmax(100px, auto);
}

.two-column-layout-right {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 1fr 3fr;
  grid-gap: 2%;
  grid-auto-rows: minmax(100px, auto);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.liste {
    list-style: none;
}

.fond-logo {
  width:  100%;
  height: 300px;
  background-image: url('../../assets/amaga/fond-amaga-logo2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.text-logo {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.fond-lignes {
  width:  100%;
  height: 100%;
  background-image: url('../../assets/amaga/fond-amaga-logo2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 20%;
 /*  mask: radial-gradient(circle, #0000 50%, rgba(0, 0, 0, 0.9) 70%);
  backdrop-filter:blur(10px); */
  /* box-shadow: 0 0 10px 8px #f8f8f78e inset;
  box-shadow: 0 0 8px 8px #f8f8f78e; */
}

.block-blur-nothandset {
  width: 100%;
  position: absolute;
  bottom: 0px;
  top: 0px;
  box-shadow: inset -10px -10px 10px 20px white;
}

.block-blur-handset {
  width: 100%;
  position: absolute;
  bottom: 0px;
  top: 0px;
  box-shadow: inset -10px -10px 10px 20px #fafafa;
}

/* .fond-lignes::before {
  content:'';
  width:  100%;
  height: 100%;
  border-radius: 50%;
  filter: blur(5px);
  position: absolute;
} */

.polygon-text-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px auto;
  }

.polygon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: none;
    border: 1px solid #e6ae23; /* Adjust color to match the image */
    clip-path: polygon(50% 0%, 80% 10%, 100% 50%, 80% 90%, 50% 100%, 20% 90%, 0% 50%, 20% 10%);
    transform: translate(-50%, -50%);
    opacity: 0.7; /* Adjust opacity to match the image */
  }

  .polygon:nth-child(2) {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  .polygon:nth-child(3) {
    transform: translate(-50%, -50%) rotate(20deg);
  }

  .polygon:nth-child(4) {
    transform: translate(-50%, -50%) rotate(30deg);
  }

  .polygon:nth-child(5) {
    transform: translate(-50%, -50%) rotate(40deg);
  }

  mat-card {
    background-color: #f7f6f3;;
  }

  .logo {
   
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
      background-color: #f7f6f3;
      z-index: 100;

  }

  .lines {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    z-index: 100;
}

.lines::before, .lines::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #e0e0e0;
    transform-origin: top left;
}

.lines::before {
    transform: rotate(30deg);
}

.lines::after {
    transform: rotate(-45deg);
}

.line1, .line2, .line3, .line4, .line5 {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: black;
    transform-origin: top left;
}

.line1 {
    transform: rotate(10deg);
}

.line2 {
    transform: rotate(20deg);
}

.line3 {
    transform: rotate(40deg);
}

.line4 {
    transform: rotate(50deg);
}

.line5 {
    transform: rotate(60deg);
}

.text {
    position: relative;
    z-index: 1;
    font-size: 24px;
    color: #444444;
}

.div-scroll {
  
  transition: opacity 0.5s ease-in-out;
}