.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  
  mat-nav-list.list-horizontal {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 500px;
   
   }

   .active-list-item {
    color: white !important;
    background-color: white !important;
   }

   .mdc-list-item__primary-text {
    color: rgb(236, 6, 6) !important;
    background-color: white !important;
   }

   a.mat-list-item.active { color: #e21212 !important; }

  