<div class="container" style="font-size: large;">
    <!-- <h2 class="text-center">Ma proposition de services et conseils</h2>
    <div class="two-column-layout" style="min-height: 700px; margin-top: 2%;">
        <div
            style="display: flex; flex-direction: column; align-items: center; justify-content: space-between; gap: 2%;">
            <div class="triangle-container">
                <div class="triangle top">
                    <div class="text">GOUVERNANCE<br>CYBER &<br>CONFORMITÉ</div>
                </div>
                <div class="triangle center">
                    <div class="text">AMAGA<br>CYBER</div>
                </div>
                <div class="triangle left">
                    <div class="text">AUDIT &<br>ÉVALUATION<br>DU RISQUE</div>
                </div>
                <div class="triangle right">
                    <div class="text">ARCHITECTURE<br>CYBERSÉCURITÉ</div>
                </div>
            </div>
            <div class="text-center width-70" style="margin-top: -15%; font-size:large">EXPÉRIENCE</div>
            <div class="text-center width-70">
                EN 2023, AU SEIN DU CLOUD PROVIDER SCALEWAY, J’AI IMPLÉMENTÉ AVEC SUCCÈS LA ROADMAP DE LA CERTIFICATION
                ISO27001,
                EN ÉTROIT LIEN AVEC LA DSI
            </div>
            <div class="text-center width-70" style="font-size:large">FORMATION</div>
            <div class="text-center width-70">IMPLÉMENTER ET GÉRER UN PROJET ISO 27001:2013</div>
        </div>
        <div style="display: flex; flex-direction: column; align-items: left; justify-content: space-around; gap: 2%;">
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                <mat-icon>check_box_outline_blank</mat-icon>
                <div>AUDIT & EVALUATION DU RISQUE</div>
            </div>
            <div>Quels sont les risques auxquels je dois faire face ?</div>
            <div>Existe-t-il des écarts entre mon infrastructure actuellement en place et celle désignée au départ ?
            </div>
            <div>Est-ce que je mène des analyses d’écart pour maintenir mon niveau de sécurité en accord avec ma
                politique de sécurité ?</div>
            <div>En termes de standard de sécurité, quels nouveaux processus d’amélioration puis-je mettre en oeuvre ?
            </div>
            <div>
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                    <mat-icon style="min-width: 30px;">check</mat-icon>
                    <div class="margin-left-5">Avec votre support, j’analyse et j’évalue votre posture de sécurité,
                        basée sur le guide d’hygiène de l’ANSSI et des référentiels comme ISO27002.</div>
                </div>
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                    <mat-icon style="min-width: 30px;">check</mat-icon>
                    <div class="margin-left-5">Nous évaluerons ensemble les risques liés à votre activité</div>
                </div>
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                    <mat-icon style="min-width: 30px;">check</mat-icon>
                    <div class="margin-left-5">Nous élaborerons un plan d’actions afin d’améliorer votre posture de
                        sécurité</div>
                </div>
            </div>
        </div>
    </div>
    <mat-divider class="margin-top-2"></mat-divider>

    <div class="two-column-layout" style="min-height: 700px; margin-top: 2%;">
        <div
            style="display: flex; flex-direction: column; align-items: center; justify-content: space-between; gap: 2%;">
            <div class="triangle-container">
                <div class="triangle top-2">
                    <div class="text">GOUVERNANCE<br>CYBER &<br>CONFORMITÉ</div>
                </div>
                <div class="triangle center">
                    <div class="text">AMAGA<br>CYBER</div>
                </div>
                <div class="triangle left-2">
                    <div class="text">AUDIT &<br>ÉVALUATION<br>DU RISQUE</div>
                </div>
                <div class="triangle right">
                    <div class="text">ARCHITECTURE<br>CYBERSÉCURITÉ</div>
                </div>
            </div>
            <div class="text-center width-70" style="margin-top: -15%; font-size:large">EXPÉRIENCE</div>
            <div class="text-center width-70">
                DERNIÈREMENT, AU SEIN D'AVANADE PUIS CHEZ SCALEWAY, CLOUD PROVIDER FRANÇAIS SPÉCIALISÉ EN INFRASTRUCTURE
                ET IA, J ’AI
                COORDONNÉ AVEC SUCCÈS LA MISE EN OEUVRE DE PROJETS DE SÉCURITÉ ET CONFORMITÉ
            </div>
        </div>
        <div style="display: flex; flex-direction: column; align-items: left; justify-content: space-around; gap: 2%;">
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                <mat-icon>check_box_outline_blank</mat-icon>
                <div>GOUVERNANCE CYBER & CONFORMITE</div>
            </div>
            <div>Qu’est-il essentiel de protéger pour maintenir l’activité et assurer la pérennité de ma société ?</div>
            <div>Mon infrastructure en place est-elle suffisamment sécurisée, cloisonnée et
                redondante pour faire face au risque cyber ?
            </div>
            <div>Mes collaborateurs sont-ils suffisamment formés au risque cyber ?</div>

            <div>
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                    <mat-icon style="min-width: 30px;">check</mat-icon>
                    <div class="margin-left-5">Je vous accompagne sur la certification ISO27001, en lien avec les
                        équipes
                        DSI et opérationnelles.</div>
                </div>
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                    <mat-icon style="min-width: 30px;">check</mat-icon>
                    <div class="margin-left-5">Je vous conseille sur la construction de socles de sécurité, sur vos
                        politiques de sécurité liées à votre organisation</div>
                </div>
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                    <mat-icon style="min-width: 30px;">check</mat-icon>
                    <div class="margin-left-5">Je vous apporte une analyse et un accompagnement, en mode projet, sur
                        la remédiation de la sécurité des identités AD/Azure AD, revue de la
                        configuration de sécurité des tenants</div>
                </div>
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                    <mat-icon style="min-width: 30px;">check</mat-icon>
                    <div class="margin-left-5">Je vous aide à monter des campagnes de sensibilisation à destination de
                        vos salariés autour des enjeux de sécurité.</div>
                </div>
            </div>
        </div>
    </div>

    <mat-divider class="margin-top-2"></mat-divider>


    <div class="two-column-layout" style="min-height: 700px; margin-top: 2%;">
        <div
            style="display: flex; flex-direction: column; align-items: center; justify-content: space-between; gap: 2%;">
            <div class="triangle-container">
                <div class="triangle top">
                    <div class="text">GOUVERNANCE<br>CYBER &<br>CONFORMITÉ</div>
                </div>
                <div class="triangle center">
                    <div class="text">AMAGA<br>CYBER</div>
                </div>
                <div class="triangle left-2">
                    <div class="text">AUDIT &<br>ÉVALUATION<br>DU RISQUE</div>
                </div>
                <div class="triangle right-3">
                    <div class="text">ARCHITECTURE<br>CYBERSÉCURITÉ</div>
                </div>
            </div>
            <div class="text-center width-70" style="margin-top: -15%; font-size:large">EXPÉRIENCE</div>
            <div class="text-center width-70">
                DERNIÈREMENT, AU SEIN D'AVANADE PUIS CHEZ SCALEWAY, CLOUD PROVIDER FRANÇAIS SPÉCIALISÉ EN INFRASTRUCTURE
                ET IA, J ’AI
                COORDONNÉ AVEC SUCCÈS LA MISE EN OEUVRE DE PROJETS DE SÉCURITÉ ET CONFORMITÉ
            </div>
        </div>
        <div style="display: flex; flex-direction: column; align-items: left; justify-content: space-around; gap: 2%;">
            <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                <mat-icon>check_box_outline_blank</mat-icon>
                <div>ARCHITECTURE CYBERSECURITE</div>
            </div>
            <div>Quelles solutions techniques seront à mettre en place pour mitiger le risque ?</div>
            <div>Comment piloter le changement technologique ?</div>

            <div>
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                    <mat-icon style="min-width: 30px;">check</mat-icon>
                    <div class="margin-left-5">Avec une bonne expérience sur les thématiques liées à l’identité,
                        notamment AD, je serai votre référent technique sur les projets de sécurité :
                        contrôle des exigences de sécurité, aide aux choix techniques et
                        technologiques des projets en partenariat avec vos architectes IT.</div>
                </div>
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                    <mat-icon style="min-width: 30px;">check</mat-icon>
                    <div class="margin-left-5">Je serai le garant du développement et l’intégration des architectures de
                        sécurité au sein du SI, en me basant sur votre politique, standards,
                        baselines de sécurité</div>
                </div>
            </div>
        </div>
    </div> -->

    <mat-divider class="margin-top-2"></mat-divider>


    <div class="section">
        <div class="triangle-container">
            <div class="triangle top-2">
                <div class="text">GOUVERNANCE<br>CYBER &<br>CONFORMITÉ</div>
            </div>
            <div class="triangle center">
                <div class="text">AMAGA<br>CYBER</div>
            </div>
            <div class="triangle left">
                <div class="text">AUDIT &<br>ÉVALUATION<br>DU RISQUE</div>
            </div>
            <div class="triangle right-3">
                <div class="text">ARCHITECTURE<br>CYBERSÉCURITÉ</div>
            </div>
        </div>
    </div>

    <div class="three-column-layout ; margin-top-2">
        <div style="border:solid 3px black; padding: 10px;">
            
                <div style="font-size: x-large; font-weight: bold; text-align: center;">AUDIT & EVALUATION DU RISQUE
                </div>
                <div style="margin-top: 30px; display: flex; flex-direction: column; align-items: left; justify-content: left; gap:10px">
                <div>Quels sont les risques auxquels je dois faire face ?</div>
                <div>Existe-t-il des écarts entre mon infrastructure actuellement en place et celle désignée au départ ?
                </div>
                <div>Est-ce que je mène des analyses d’écart pour maintenir mon niveau de sécurité en accord avec ma
                    politique de sécurité ?</div>
                <div>En termes de standard de sécurité, quels nouveaux processus d’amélioration puis-je mettre en oeuvre
                    ?
                </div>
            </div>
            <div
                style="margin-top: 30px; display: flex; flex-direction: column; align-items: left; justify-content: left; gap:10px">
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                    <mat-icon style="min-width: 30px;">check</mat-icon>
                    <div class="margin-left-5">Avec votre support, j’analyse et j’évalue votre posture de sécurité,
                        basée sur le guide d’hygiène de l’ANSSI et des référentiels comme ISO27002.</div>
                </div>
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                    <mat-icon style="min-width: 30px;">check</mat-icon>
                    <div class="margin-left-5">Nous évaluerons ensemble les risques liés à votre activité</div>
                </div>
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: left;">
                    <mat-icon style="min-width: 30px;">check</mat-icon>
                    <div class="margin-left-5">Nous élaborerons un plan d’actions afin d’améliorer votre posture de
                        sécurité</div>
                </div>
            </div>
        </div>
        <div style="border:solid 3px black; padding: 10px;"></div>
        <div style="border:solid 3px black; padding: 10px;"></div>
    </div>

</div>